<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="uno, card game, free game, online free game, play uno for fun">
    <meta name="description" content="Play this online card game, uno, with your friends.">
    <meta name="author" content="Kaluo Xie">
    <meta name="copyright" content="Kaluo Xie">
    <meta name="web_author" content="Kaluo Xie">

    <title>Play UNO</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/jquery.powertip.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascripts/jquery.powertip.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    {{{body}}}

  </body>
</html>