
<div class="container-fluid">
  <div class="col-xs-7 col-sm-9 col-md-9 col-lg-9">
    <div class="lobbyroom">
      {{> page/list-group}}
    </div>
  </div>

  <div class="col-xs-5 col-sm-3 col-md-3 col-lg-3">
    <div class="chatroom">
      {{> page/chatroom}}
    </div>
  </div>
</div>
