<div class="chatroom">
  <div class="panel-primary">
    <div class="panel-heading"><span id="chat-room-number"></span> Chat Room</div>
  </div>
  <div class="panel panel-primary chat-panel">
    <div class="panel-body">
      <ul class="chat-list">
        {{!-- list chat messages here --}}
      </ul>
    </div>
  </div>
  <div class="panel-footer">
    <form id="sendMessage">
      <div class="form-group">
        <input id="chat-message" type="text" class="form-control" placeholder="Enter message" name="message" required>
      </div>
      <button type="reset" class="btn btn-default">Reset</button>
      <button type="submit" class="btn btn-info">Send</button>
    </form>
  </div>
</div>

<script>
  var oddList = false   // for list messages' style 
  const socket = io()

  $(function() {
    const userInfo = {{{userInfo}}};
    const pastMessages = {{{messages}}};
    const chatRoomId = {{{chatRoomId}}}.id 
    var message = { image_full_url: userInfo.userImage !== null ? `/images/avatars/${userInfo.userImage}`
                    : '/images/splash/noface.png', game_id: chatRoomId === 'Lobby' ? -1 : userInfo.userGameId
                    , user_name: userInfo.userName, toChatRoom: chatRoomId }

    /* chatroom size, number */
    $('.chat-panel').height($(window).height() - 280)

    $('#chat-room-number').html(chatRoomId)
    /* load past posts */
    listMessages(pastMessages)

    setTimeout(function() {
      $('.chat-panel')[0].scrollTop =  $('.chat-panel')[0].scrollHeight
    }, 10)

    $('#sendMessage').submit(function(e){
      e.preventDefault()
      var msg = Object.assign(message, {post_time: new Date(), message: $('#chat-message').val()})
      socket.emit('chat', msg);
      $('#chat-message').val('');
    });

    /* listen messages to this chat room */
    socket.on(chatRoomId, function(msg){
      $('.chat-list').append(newMessage(msg))
      $('.chat-panel')[0].scrollTop =  $('.chat-panel')[0].scrollHeight
    });

  })

  function listMessages(pastmsg) {
    pastmsg.forEach(message => {
      $('.chat-list').append(newMessage(message))
    })
  }

  function newMessage(msg) {
    var addOddList = oddList ? 'class="odd-list"' : ''
    var thisMessage = `<li ${addOddList}>
      <span>
        <img  class="user-image" src=${msg.image_full_url} />
        <b>${msg.user_name !== null ? msg.user_name : ''}</b>
        <span class="post-time">
          ${showTime(msg.post_time)}
        </span>
      </span>
          <p></p><p>${msg.message}</p></li>`

    oddList = oddList ? false : true
    return thisMessage
  }

  function showTime(time) {
    /* stored time and show time not acurreate, need correct */
    var currentDay = new Date()   // get local date
    var past = new Date(time)
    var localOffset = past.getTimezoneOffset() // minutes
    var timeOnly = '' + ('0'+past.getHours()).substr(-2) + ':' + ('0'+past.getMinutes()).substr(-2) + ':' + ('0'+past.getSeconds()).substr(-2)
    if (currentDay.getFullYear() === past.getFullYear() && currentDay.getMonth()
         === past.getMonth() && currentDay.getDate() === past.getDate()) 
      var thisTime = timeOnly
    else var thisTime = '' + ('0'+(past.getMonth()+1)).substr(-2) + '\/' + ('0'+past.getDate()).substr(-2) + '\/' + past.getFullYear()
      + ' ' + timeOnly
    return thisTime
  }

</script>
