<div class="row">
  <div class="col-xs-5 col-sm-5">
    <p>row 1 left seat</p>
  </div>
  <div class="col-xs-5 col-sm-5 col-sm-offset-2">
    <p>row 1 right seat</p>
  </div>
</div>

<div class="row">
    <div class="col-xs-4 col-sm-4">
      <p>row 2 left seat</p>
    </div>
    <div class="col-xs-4 col-sm-4 col-sm-offset-4">
      <p>row 2 right seat</p>
    </div>
</div>

<div class="row card-pile">
    <div class="col-xs-2 col-sm-2">
      <p>row 3 left seat</p>
    </div>
    <div class="col-xs-1 col-sm-1">
      <img class="img-responsive left-arrow" src="" alt="left arrow" height="60">
    </div>
    <div class="col-xs-6 col-sm-6">
      <img class="img-responsive discard-pile" src="" alt="discard">
      row 3 for uno button, discard pile, pass button
    </div>
    <div class="col-xs-1 col-sm-1">
      <img class="img-responsive right-arrow" src="" alt="right arrow">
    </div>
    <div class="col-xs-2 col-sm-2">
      <p>row 3 right seat</p>
    </div>
</div>

<div class="row card-pile">
    <div class="col-xs-3 col-sm-3">
      <p>row 4 player self seat</p>
    </div>
    <div class="col-xs-6 col-sm-6">
      <p>row 4 for hand cards</p>
    </div>
    <div class="col-xs-3 col-sm-3">
      row 4 for ready button
    </div>
</div>


<script>
  var jsonCards = {{{CARDS}}}
  console.log('cards ', jsonCards[0].image_url)
  $('.left-arrow').attr('src', '/images/splash/leftup.png')
    $('.right-arrow').attr('src', '/images/splash/rightdown.png')
//    $('.discard-pile').attr('src', '/images/cards/'+jsonCards[0].image_url)
    $('.discard-pile').attr('src', '/images/cards/'+{{{CARDS}}}[4].image_url)
</script>