<img class="avatar" src="/images/splash/default-user-icon.png" alt="from list below" height="70">

<select required class="form-control selectAvatar" size="1" name="avatarId">
  <option value="">Select one</span></option>
    {{#each AVATARS}}
      <option title={{{this.image_url}}} class="tooltips" image={{{this.image_url}}}>{{{this.id}}}</option>
    {{/each}}
</select>

<script>
  $(function() {
    const IMAGE_PATH = '/images/avatars/'
    $('select').mouseover(function() {
      var n = $('select option').length
      $(this).attr('size', n)
    })
    $('select').mouseout(function() {
      $('.image_tooltip img').attr('src', '')
      $(this).attr('size', 1)
    })
    $('select').on('mouseenter', 'option', function(e) {
      var image = '<img src='+IMAGE_PATH+$(this).attr('image')+' height="70">'
      $('.tooltips').data('powertip', image)
      $(this).click(function() {
        if($(this).val() !== '') {
          $('.avatar').attr('src', IMAGE_PATH+$(this).attr('image'))
        }
        $('select').attr('size', 1)
      })
    })

    /* image_tooltip */
    if (!window.powerTipInitialized) {
      $('.tooltips').powerTip({
        followMouse: true
      })
      window.powerTipInitialized = true
    }

    /* reset the selected avatar back to default */
    $('.reset-button').click(() => {
      $('.avatar').attr('src', '/images/splash/default-user-icon.png')
    })
  })
</script>

