<!-- Button trigger modal 
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signUpModal">
    Launch Normal Form
</button>
-->

<!-- Modal -->
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" 
     aria-labelledby="mySignUpLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="mySignUpLabel">
                    Sign Up
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form role="form" class="signUpForm" method="post" action="signup">
                  <div class="form-group">
                    <label for="selectAvatar">Select avatar:</label>
                    {{> page/select-avatar}}
                  </div>
                  <div class="form-group">
                    <label for="userName">User name</label>
                      <input type="name" class="form-control" name="userName" required
                      id="signUpUserName" placeholder="Enter name" onkeypress="return noEnter()"/>
                  </div>
                  <div class="form-group">
                    <label for="signUpEmail">Email address</label>
                      <input type="email" class="form-control" name="email" required
                        id="signUpEmail" placeholder="Enter email" onkeypress="return noEnter()"/>
                      <p id="signUpEmailWarning" class="warning collapse">The email is already registered, please choose another one.</p>
                  </div>
                  <div class="form-group">
                    <label for="signUpPassword">Password</label>
                      <input type="password" class="form-control" name="password" required
                          id="signUpPassword" placeholder="Password" onkeypress="return noEnter()"/>
                  </div>
                  <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                      <input type="password" class="form-control" name="confirmPassword" required
                          id="confirmPassword" placeholder="Password" onkeypress="return noEnter()"/>
                      <p id="passwordWarning" class="warning collapse">Password confirm error: they are not identical!</p>
                  </div>
                
                  <button type="reset" class="btn btn-default reset-button">Reset</button>
                  <button class="btn btn-default cancel-signup" formnovalidate>Cancel</button>
                  <button type="submit" class="btn btn-primary"
                        id="signUpSubmit">Sign Up</button>
                </form>
                
            </div>
        </div>
    </div>
</div>

<script>
  $(function() {
    var validEmail = false, confirmedPassword = false
    $('#signUpEmail').focusout(() => {
      // check if an email address had already registered
      $.get('/signup/email-address', { emailAddress: $('#signUpEmail').val() }
            , function(response) {
              if(response == "TAKEN") {
                $('#signUpEmailWarning').addClass("in")
                validEmail = false
              } else {
                $('#signUpEmailWarning').removeClass("in")
                validEmail = true
              }
            })
    })

    $('.reset-button').click(() => {
      $('#signUpEmailWarning').removeClass('in')
      $('#passwordWarning').removeClass('in')
    })
    $('.cancel-signup').click((e) => {
        e.preventDefault()
        $('#signUpModal').modal('hide')
    })
    $('#confirmPassword').focusout(() => {
      if($('#signUpPassword').val() != $('#confirmPassword').val()) {
        $('#passwordWarning').addClass("in")
        confirmedPassword = false
      } else {
        $('#passwordWarning').removeClass('in')
        confirmedPassword = true
      }
    })
    $('#confirmPassword').focus(() => {
      $('#passwordWarning').removeClass('in')
    })

    $('.signUpForm').submit(function(e) {
      e.preventDefault()
      if(validEmail && confirmedPassword) {
        var data = { avatarId: $('select').val(),
                     password: $('#signUpPassword').val(),
                     confirmPassword: $('#confirmPassword').val(),
                     email: $('#signUpEmail').val(),
                     userName: $('#signUpUserName').val()}
        $.post('/signup', data, function(res) {
          console.log('response: ', res)
          if(!res.success) {
              alert('Error: cannot sign up! Please try again later.')
          } else {
              $('#signUpModal').modal('hide')
              setTimeout(function() {
                  alert('You have successfully signed up.')
                  window.location.href = '/lobby'
              }, 1)
          }
        })
      }
    })
  })

  function noEnter() {
      return !(window.event && window.event.keyCode == 13)
  }
</script>